#logo{
  height: 60px;
}

  .container_total{
    width: 40%;
    text-align: center;
    margin: auto;
    border: solid 1px #262626;
    margin-top: 4em;
    background-color: #262626;
    color: white;
    border-radius: 10px;

  }

  .navbar-nav {
    margin-left: auto;
  }
  
  h1{
    margin-bottom: 1em;
    margin: 1em;
    padding: 1em;
  }

  input[type="number"]{
    display: inline-block;
    width: 50%;
    font-size: 1em;
    outline: none;
    padding: 1em;
    border-radius: 5px;
    border: none;
  }
  ::placeholder{
    font-size: 0.7em;
  } 

  input[type="submit"]{
    display: inline-block;
    margin: 0em 0.5em 2.5em 0.5em;
    width: 15%;
    padding: 1em;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #a6a6a6;
    transition: 0.5s;
  }
  .container_total form div {
    display: inline-block;
    vertical-align: middle;
  }
  p{
    margin: 1em;
    font-size: 1.2em;
    text-align: justify;
  }
  .error{
    text-align: center;
  }

  hr{
    width: 90%;
    margin-bottom: 2em;
  }