body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232d42;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  nav{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #052127;
    width: 100px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  }
  
  .logo{
    display: flex;
    align-items: center;
  }
  
  .logo img{
    height: 45px;
  }
  
  .logo span{
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  nav a{
    position: relative;
    color: #ffffffff;
    font-size: 16px;
    display: table;
    width: 300px;
    padding: 25px;
    padding-bottom: 70px;
    transition: 1s;
  }
  
  .fas{
    position: relative;
    width: 70px;
    height: 40px;
    font-size: 20px;  
  }
  
  .nav-item{
    position: relative;
    margin-left: 80px;
  }
  
  nav a:hover{
    background-color: #176f64;
    transition: 2s ease;
  }
  
  nav:hover{
    width: 280px;
    transition: all 0.5s ease;
  }
  
  .logout{
    position: absolute;
    bottom: 0;
  }

form{
    display: inline-block;
    text-align: center;
    width: 20%;
    border: solid rgb(197, 196, 196,) 1px;
    background-color: rgb(231, 230, 230);
    border-radius: 5%;
    margin: 10em;
}

input{
    box-sizing: border-box;
    width: 80%;
    margin: 2em;
    padding: 1.2em;
    border: none;
    border-radius: 5px;
}

input[type=submit]{
    width: 80%;
    background-color: rgb(55, 190, 55);
    color: rgb(255, 255, 255);
    border: none;
    padding: 1em;
    cursor: pointer;
    margin: 3em;
    border: 2px solid rgb(55, 190, 55);
    
}

input:focus{
    outline-color: rgb(40, 222, 242);
    transition:0.3s ease;
}
select{
    border: none;
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    border-radius: 5px;
}

select option{
    font-size: 1.2em;
}
textarea:focus{
    outline-color: rgb(40, 222, 242);
    transition:0.3s ease;
}

input[type=submit]:hover{
    border-color: rgb(64, 208, 64);
    transition: 0.3s ease;
}
table{
    border-collapse: collapse;
    height: 300px;
  }


th{
    font-size: 1em;
    padding: 1em;
    background-color: rgb(231, 230, 230);
    color: black;
    border: solid 1px rgb(212, 212, 212);
}

td{
    padding: 1em;
    background-color: rgb(231, 230, 230);
    max-width: 180px;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(212, 212, 212);
    text-align: center;
}

.icon{
    width: 45px;
    height: 45px;
    margin: 1em;
    padding: 0.6em;
    transition: 0.6s ease;
    border: solid rgb(202, 202, 202) 1px;
}

.icon:hover{
    background-color: rgb(229, 39, 39);
    transition: 0.6s ease;
    border-radius: 50%;
}

#edit_icon:hover{
    border-radius: 0%;
    background-color: rgb(40, 140, 180);
}

.container_total {
  display: flex;
  align-items:flex-start; 
  margin: 10em;
  width: 100%;
}

.container_table {
  width: 60%; 
  overflow: auto; 
  margin-left: 6em;
}

@media screen and (max-width:1600px){
    .container_table{
        max-width: 100%;
        font-size: 15px;
    }form{
        width: 60%;
    }
    body{
        margin: auto;
    }
}

@media screen and (max-width:1120px){
    .container_table{
        text-align: center;
        font-size: 9px;
    }
}


